
<div class="py-5  site-section how-it-works" id="howitworks-section">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="section-title mb-3">How We Works</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="pr-5">
          <span class="custom-icon flaticon-house text-primary"></span>
          <h3 class="text-dark">Home Design.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="pr-5">
          <span class="custom-icon flaticon-coin text-primary"></span>
          <h3 class="text-dark">3D/2D Design.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="pr-5">
          <span class="custom-icon flaticon-home text-primary"></span>
          <h3 class="text-dark">Construction.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="pr-5">
          <span class="custom-icon flaticon-home text-primary"></span>
          <h3 class="text-dark">Staad Design.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="pr-5">
          <span class="custom-icon flaticon-home text-primary"></span>
          <h3 class="text-dark">Layout Work.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="pr-5">
          <span class="custom-icon flaticon-home text-primary"></span>
          <h3 class="text-dark">Plumbing and Sanitary Drwing.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="pr-5">
          <span class="custom-icon flaticon-home text-primary"></span>
          <h3 class="text-dark">Renovation of Old Building.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="pr-5">
          <span class="custom-icon flaticon-home text-primary"></span>
          <h3 class="text-dark">Electric Drawing.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="pr-5">
          <span class="custom-icon flaticon-home text-primary"></span>
          <h3 class="text-dark">Finising Work.</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="site-section border-bottom">
  <div class="container">
    <!-- <div class="row mb-5">
      <div class="col-md-7 text-left">
        <h2 class="section-title mb-3">Services</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus minima neque tempora reiciendis.
        </p>
      </div>
    </div> -->
    <h1 style="text-align: center;font-weight: bold;margin-bottom: 50px;">Home Design with Price</h1>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <img src="{{ 'images/front elevation/home/home_1.jpg' | assetsPath}}" alt="Image" class="img-fluid">
          </figure>
          <div class="prop-details p-3 div_info">
            <!-- <div>DUPLEX</div> -->
            <div><strong class="price">Rs 15,000</strong></div>
            <!-- <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r v1">4 baths</span>
              <span class="w v1">2000 sqft.</span>
            </div> -->
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <img src="{{ 'images/front elevation/home/home_2.jpg' | assetsPath}}" alt="Image" class="img-fluid">
          </figure>
          <div class="prop-details p-3 div_info">
            <div><strong class="price">Rs 16,000</strong></div>
            <!-- <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">3 Flat</span>
              <span class="w border-r v1">3 BHK</span>
              <span class="w v1">2200 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div> -->
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <img src="{{ 'images/front elevation/home/home_3.jpg' | assetsPath}}" alt="Image" class="img-fluid">
          </figure>
          <div class="prop-details p-3 div_info">
            <div><strong class="price">Rs 12,000</strong></div>
            <!-- <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r v1">4 baths</span>
              <span class="w v1">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div> -->
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <img src="{{ 'images/front elevation/home/home_4.jpg' | assetsPath}}" alt="Image" class="img-fluid">
          </figure>
          <div class="prop-details p-3 div_info">
            <div><strong class="price">Rs 14,000</strong></div>
            <!-- <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r v1">4 baths</span>
              <span class="w v1">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div> -->
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <img src="{{ 'images/front elevation/home/home_5.jpg' | assetsPath}}" alt="Image" class="img-fluid">
          </figure>
          <div class="prop-details p-3 div_info">
            <div><strong class="price">Rs 10,000</strong></div>
            <!-- <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r v1">4 baths</span>
              <span class="w v1">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div> -->
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <img src="{{ 'images/front elevation/home/home_6.jpg' | assetsPath}}" alt="Image" class="img-fluid">
          </figure>
          <div class="prop-details p-3 div_info">
            <div><strong class="price">Rs 16,000</strong></div>
            <!-- <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r v1">4 baths</span>
              <span class="w v1">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div> -->
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <img src="{{ 'images/front elevation/home/home_7.jpg' | assetsPath}}" alt="Image" class="img-fluid">
          </figure>
          <div class="prop-details p-3 div_info">
            <div><strong class="price">Rs 9,000</strong></div>
            <!-- <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r v1">4 baths</span>
              <span class="w v1">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div> -->
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <img src="{{ 'images/front elevation/home/home_8.jpg' | assetsPath}}" alt="Image" class="img-fluid">
          </figure>
          <div class="prop-details p-3 div_info">
            <div><strong class="price">Rs 9,000</strong></div>
            <!-- <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r v1">4 baths</span>
              <span class="w v1">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div> -->
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <img src="{{ 'images/front elevation/home/home_9.jpg' | assetsPath}}" alt="Image" class="img-fluid">
          </figure>
          <div class="prop-details p-3 div_info">
            <div><strong class="price">Rs 9,000</strong></div>
            <!-- <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r v1">4 baths</span>
              <span class="w v1">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div> -->
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <img src="{{ 'images/front elevation/home/home_10.jpg' | assetsPath}}" alt="Image" class="img-fluid">
          </figure>
          <div class="prop-details p-3 div_info">
            <div><strong class="price">Rs 8,000</strong></div>
            <!-- <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r v1">4 baths</span>
              <span class="w v1">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div> -->
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <img src="{{ 'images/front elevation/home/home_15.jpg' | assetsPath}}"  alt="Image" class="img-fluid">
          </figure>
          <div class="prop-details p-3 div_info">
            <div><strong class="price">Rs 17,000</strong></div>
            <!-- <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r v1">4 baths</span>
              <span class="w v1">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div> -->
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <img src="{{ 'images/front elevation/home/home_14.jpg' | assetsPath}}"  alt="Image" class="img-fluid">
          </figure>
          <div class="prop-details p-3 div_info">
            <div><strong class="price">Rs 15,000</strong></div>
            <!-- <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r v1">4 baths</span>
              <span class="w v1">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div> -->
          </div>
        </div>
      </div>
      <!-- <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <img src="{{ 'images/front elevation/home/home_15.jpg' | assetsPath}}"  alt="Image" class="img-fluid">
          </figure>
          <div class="prop-details p-3 div_info">
            <div><strong class="price">$3,400,000</strong></div>
            <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r v1">4 baths</span>
              <span class="w v1">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div>
          </div>
        </div>
      </div> -->
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <img src="{{ 'images/front elevation/home/home_16.jpg' | assetsPath}}"  alt="Image" class="img-fluid">
          </figure>
          <div class="prop-details p-3 div_info">
            <div><strong class="price">Rs 18,000</strong></div>
            <!-- <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r v1">4 baths</span>
              <span class="w v1">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div> -->
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <img src="{{ 'images/front elevation/home/home_23.jpg' | assetsPath}}"  alt="Image" class="img-fluid">
          </figure>
          <div class="prop-details p-3 div_info">
            <div><strong class="price">Rs 23,000</strong></div>
            <!-- <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r v1">4 baths</span>
              <span class="w v1">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div> -->
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <img src="{{ 'images/front elevation/home/home_18.jpg' | assetsPath}}"  alt="Image" class="img-fluid">
          </figure>
          <div class="prop-details p-3 div_info">
            <div><strong class="price">Rs 8,000</strong></div>
            <!-- <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r v1">4 baths</span>
              <span class="w v1">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div> -->
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <img src="{{ 'images/front elevation/home/home_19.jpg' | assetsPath}}"  alt="Image" class="img-fluid">
          </figure>
          <div class="prop-details p-3 div_info">
            <div><strong class="price">Rs 25,000</strong></div>
            <!-- <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r v1">4 baths</span>
              <span class="w v1">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div> -->
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <img src="{{ 'images/front elevation/home/home_20.jpg' | assetsPath}}"  alt="Image" class="img-fluid">
          </figure>
          <div class="prop-details p-3 div_info">
            <div><strong class="price">Rs 22,000</strong></div>
            <!-- <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r v1">4 baths</span>
              <span class="w v1">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div> -->
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <img src="{{ 'images/front elevation/home/home_13.jpg' | assetsPath}}"  alt="Image" class="img-fluid">
          </figure>
          <div class="prop-details p-3 div_info">
            <div><strong class="price">Rs 8,000</strong></div>
            <!-- <div class="mb-2 d-flex justify-content-between">
              <span class="w border-r">6 beds</span>
              <span class="w border-r v1">4 baths</span>
              <span class="w v1">4,250 sqft.</span>
            </div>
            <div>480 12th, Unit 14, San Francisco, CA</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>