<!-- <div class="site-blocks-cover overlay" style="background-image: url(assets/images/hero_1.jpg);" data-aos="fade"
  id="home-section">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6 mt-lg-5 text-center">
        <h1>Buy and sell real estate properties</h1>
        <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam assumenda ea quo cupiditate
          facere deleniti fuga officia.</p>
      </div>
    </div>
  </div>
  <a href="#howitworks-section" class="smoothscroll arrow-down"><span class="icon-arrow_downward"></span></a>
</div> -->
<section class="site-section border-bottom" id="agents-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-7 text-left">
        <h2 class="section-title mb-3">Team</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus minima neque tempora reiciendis.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <ul class="social">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
            <img src="{{ 'images/ashok.jpeg' | assetsPath}}" alt="Image" class="img-fluid">
          </figure>
          <div class="p-3">
            <h3 class="mb-2">Ashok Yadav</h3>
            <span class="position">Civil Engneer</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <ul class="social">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
            <img src="{{ 'images/person_6.jpg' | assetsPath}}" alt="Image" class="img-fluid">
          </figure>
          <div class="p-3">
            <h3 class="mb-2">Dave Simpson</h3>
            <span class="position">Real Estate Agent</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <ul class="social">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
            <img src="{{ 'images/manoj.jpeg' | assetsPath}}" alt="Image" class="img-fluid">
          </figure>
          <div class="p-3">
            <h3 class="mb-2">Manoj Yadav</h3>
            <span class="position">Software developer</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <ul class="social">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
            <img src="{{ 'images/aisha.jpeg' | assetsPath}}" alt="Image" class="img-fluid">
          </figure>
          <div class="p-3">
            <h3 class="mb-2">Aisha Yadav</h3>
            <span class="position">Graphic Desiginer</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <ul class="social">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
            <img src="{{ 'images/megi.jpeg' | assetsPath}}" style="height: 90px; width: 320px;" alt="Image" class="img-fluid">
          </figure>
          <div class="p-3">
            <h3 class="mb-2">Megha Yadav</h3>
            <span class="position">I.I.T Mumbai</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="team-member">
          <figure>
            <ul class="social">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
            <img src="{{ 'images/person_6.jpg' | assetsPath}}" alt="Image" class="img-fluid">
          </figure>
          <div class="p-3">
            <h3 class="mb-2">Dave Simpson</h3>
            <span class="position">Real Estate Agent</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>