<section class="site-section border-bottom" id="agents-section">
    <div class="container">
        <h1>Customer Reviews</h1>
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 main_div">
                <div class="colum_div">
                    <i class="fa fa-quote-left"></i>
                    <p class="div_info">A paragraph is a self-contained unit of discourse in writing dealing with a particular point or
                        idea. A paragraph consists of one or more sentences.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <figure class="figure_info"><img src="{{ 'images/person_1.jpg' | assetsPath}}" class="img_info" alt="icon"></figure>
                    <h3 class="div_info">Meggiii</h3>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 main_div">
                <div class="colum_div">
                    <i class="fa fa-quote-left"></i>
                    <p class="div_info">A paragraph is a self-contained unit of discourse in writing dealing with a particular point or
                        idea. A paragraph consists of one or more sentences.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <figure class="figure_info"><img src="{{ 'images/person_1.jpg' | assetsPath}}" class="img_info" alt="icon"></figure>
                    <h3 class="div_info">Meggiii</h3>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 main_div">
                <div class="colum_div">
                    <i class="fa fa-quote-left"></i>
                    <p>A paragraph is a self-contained unit of discourse in writing dealing with a particular point or
                        idea. A paragraph consists of one or more sentences.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <figure class="figure_info"><img src="{{ 'images/person_1.jpg' | assetsPath}}" class="img_info" alt="icon"></figure>
                    <h3 class="div_info">Meggiii</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="counts" class="counts">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="icofont-simple-smile"></i>
                    <span data-toggle="counter-up">232</span>
                    <p>Happy Clients</p>
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                    <i class="icofont-document-folder"></i>
                    <span data-toggle="counter-up">521</span>
                    <p>Projects</p>
                    <i class="fa fa-project-diagram"></i>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="icofont-live-support"></i>
                    <span data-toggle="counter-up">20+
                    </span>
                    <p>Team Member</p>
                    <a href=""><i class="fa fa-users-cog"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="icofont-users-alt-5"></i>
                    <span data-toggle="counter-up">15</span>
                    <p>Hard Workers</p>
                    <i class='far fa-frown'></i>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-5">
                        <h2 class="footer-heading mb-4">About Stated</h2>
                        <p>We have started this company five years ago with full of dedic.</p>
                    </div>
                    <div class="col-md-3 ml-auto">
                        <h2 class="footer-heading mb-4">Quick Links</h2>
                        <ul class="list-unstyled">
                            <li><a routerLink="/about">About</a></li>
                            <li><a routerLink="/services">Services</a></li>
                            <li><a routerLink="/portfolio">Portfolio</a></li>
                            <li><a routerLink="/contact">Contact</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-4">
                    <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
                    <form action="#" method="post" class="footer-subscribe">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control border-secondary text-white bg-transparent"
                                placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary text-black" type="button"
                                    id="button-addon2">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="">
                    <h2 class="footer-heading mb-4">Follow Us</h2>
                    <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                </div>
            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script>Designed and Developed by Manoj Yadav
                        <i class="icon-heart" aria-hidden="true"></i> <a href="https://colorlib.com"
                            target="_blank"></a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>